<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
	<appSettings>
		<!--EasyCardKSignPadAdaptor-->
		<add key="SignPadPicker.EasyCardKSignPadAdaptor.IniFile" value="C:\Kicc\EasyCardK\SETUP\OPTION.ini" />
		<add key="SignPadPicker.EasyCardKSignPadAdaptor.HttpPort" value="8090" />
		<!--KocesSignPadAdaptor-->
		<add key="SignPadPicker.KocesSignPadAdaptor.ComPort" value="4" />
		<add key="SignPadPicker.KocesSignPadAdaptor.ComSpeed" value="38400" />
		<add key="SignPadPicker.KocesSignPadAdaptor.Message1" value="" />
		<add key="SignPadPicker.KocesSignPadAdaptor.Message2" value="서명을" />
		<add key="SignPadPicker.KocesSignPadAdaptor.Message3" value="입력하세요" />
		<add key="SignPadPicker.KocesSignPadAdaptor.Message4" value="" />
		<!--KscatSignPadAdaptor - 주의! Message에 한글을 넣으면 안됨-->
		<add key="SignPadPicker.KscatSignPadAdaptor.ImgFile" value="C:\KSCAT\Sign.bmp" />
		<add key="SignPadPicker.KscatSignPadAdaptor.IniFile" value="C:\KSCAT\config.ini" />
		<add key="SignPadPicker.KscatSignPadAdaptor.HttpPort" value="27015" />
		<add key="SignPadPicker.KscatSignPadAdaptor.Message1" value="" />
		<add key="SignPadPicker.KscatSignPadAdaptor.Message2" value="" />
		<add key="SignPadPicker.KscatSignPadAdaptor.Message3" value="" />
		<add key="SignPadPicker.KscatSignPadAdaptor.Message4" value="" />
		<!--NicePosSignPadAdaptor-->
		<add key="SignPadPicker.NicePosSignPadAdaptor.ComPort" value="5" />
		<add key="SignPadPicker.NicePosSignPadAdaptor.ComSpeed" value="115200" />
		<add key="SignPadPicker.NicePosSignPadAdaptor.Message" value="" />
		<!--NiceSignPadAdaptor-->
		<add key="SignPadPicker.NiceSignPadAdaptor.ComPort" value="3" />
		<add key="SignPadPicker.NiceSignPadAdaptor.ComSpeed" value="115200" />
	</appSettings>
</configuration>