<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
	<appSettings>
		<!--EasyCardKSignPadAdaptor-->
		<add key="SignPadPicker.EasyCardKSignPadAdaptor.IniFile" value="C:\Kicc\EasyCardK\SETUP\OPTION.ini" />
		<add key="SignPadPicker.EasyCardKSignPadAdaptor.HttpPort" value="8090" />
		<!--KocesSignPadAdaptor-->
		<add key="SignPadPicker.KocesSignPadAdaptor.ComPort" value="4" />
		<add key="SignPadPicker.KocesSignPadAdaptor.ComSpeed" value="38400" />
		<add key="SignPadPicker.KocesSignPadAdaptor.Message1" value="" />
		<add key="SignPadPicker.KocesSignPadAdaptor.Message2" value="서명을" />
		<add key="SignPadPicker.KocesSignPadAdaptor.Message3" value="입력하세요" />
		<add key="SignPadPicker.KocesSignPadAdaptor.Message4" value="" />
		<!--KscatSignPadAdaptor - 주의! Message에 한글을 넣으면 안됨-->
		<add key="SignPadPicker.KscatSignPadAdaptor.ImgFile" value="C:\KSCAT\Sign.bmp" />
		<add key="SignPadPicker.KscatSignPadAdaptor.IniFile" value="C:\KSCAT\config.ini" />
		<add key="SignPadPicker.KscatSignPadAdaptor.HttpPort" value="27015" />
		<add key="SignPadPicker.KscatSignPadAdaptor.Message1" value="" />
		<add key="SignPadPicker.KscatSignPadAdaptor.Message2" value="" />
		<add key="SignPadPicker.KscatSignPadAdaptor.Message3" value="" />
		<add key="SignPadPicker.KscatSignPadAdaptor.Message4" value="" />
		<!--NicePosSignPadAdaptor-->
		<add key="SignPadPicker.NicePosSignPadAdaptor.ComPort" value="7" />
		<add key="SignPadPicker.NicePosSignPadAdaptor.ComSpeed" value="115200" />
		<add key="SignPadPicker.NicePosSignPadAdaptor.Message" value="" />
		<!--NiceSignPadAdaptor-->
		<add key="SignPadPicker.NiceSignPadAdaptor.ComPort" value="3" />
		<add key="SignPadPicker.NiceSignPadAdaptor.ComSpeed" value="115200" />
		<!--KisSignPadAdaptor - 주의! ComSpeed 변경하지 말것-->
		<add key="SignPadPicker.KisSignPadAdaptor.ComPort" value="8" />
		<add key="SignPadPicker.KisSignPadAdaptor.ComSpeed" value="57600" />
		<add key="SignPadPicker.KisSignPadAdaptor.Message1" value="" />
		<add key="SignPadPicker.KisSignPadAdaptor.Message2" value="" />
		<add key="SignPadPicker.KisSignPadAdaptor.Message3" value="" />
		<add key="SignPadPicker.KisSignPadAdaptor.Message4" value="" />
		<!--SmartroSignPadAdaptor - 주의! ComSpeed 변경하지 말것-->
		<add key="SignPadPicker.SmartroSignPadAdaptor.ComPort" value="20" />
		<add key="SignPadPicker.SmartroSignPadAdaptor.ComSpeed" value="38400" />
		<!--WacomSignPadAdaptor-->
		<add key="SignPadPicker.WacomSignPadAdaptor.License" value="" />
		<add key="SignPadPicker.WacomSignPadAdaptor.License" value="eyJhbGciOiJSUzUxMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiI3YmM5Y2IxYWIxMGE0NmUxODI2N2E5MTJkYTA2ZTI3NiIsImV4cCI6MjE0NzQ4MzY0NywiaWF0IjoxNTYwOTUwMjcyLCJyaWdodHMiOlsiU0lHX1NES19DT1JFIiwiU0lHQ0FQVFhfQUNDRVNTIl0sImRldmljZXMiOlsiV0FDT01fQU5ZIl0sInR5cGUiOiJwcm9kIiwibGljX25hbWUiOiJTaWduYXR1cmUgU0RLIiwid2Fjb21faWQiOiI3YmM5Y2IxYWIxMGE0NmUxODI2N2E5MTJkYTA2ZTI3NiIsImxpY191aWQiOiJiODUyM2ViYi0xOGI3LTQ3OGEtYTlkZS04NDlmZTIyNmIwMDIiLCJhcHBzX3dpbmRvd3MiOltdLCJhcHBzX2lvcyI6W10sImFwcHNfYW5kcm9pZCI6W10sIm1hY2hpbmVfaWRzIjpbXX0.ONy3iYQ7lC6rQhou7rz4iJT_OJ20087gWz7GtCgYX3uNtKjmnEaNuP3QkjgxOK_vgOrTdwzD-nm-ysiTDs2GcPlOdUPErSp_bcX8kFBZVmGLyJtmeInAW6HuSp2-57ngoGFivTH_l1kkQ1KMvzDKHJbRglsPpd4nVHhx9WkvqczXyogldygvl0LRidyPOsS5H2GYmaPiyIp9In6meqeNQ1n9zkxSHo7B11mp_WXJXl0k1pek7py8XYCedCNW5qnLi4UCNlfTd6Mk9qz31arsiWsesPeR9PN121LBJtiPi023yQU8mgb9piw_a-ccciviJuNsEuRDN3sGnqONG3dMSA" /><!--SMUH-->
	</appSettings>
</configuration>